<!DOCTYPE html>
    <html>
        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
            <title>Title</title>
        </head>
        <body>
            <table border="1">
                <tr>
                    <th>Название проекта</th>
                    <th>Местоположение</th>
                    <th>Широта</th>
                    <th>Долгота</th>
                </tr>
                <tr>
                            
<tr><td align="center">44</td>
<td align="center">Тюмень, Курортная улица, 44 </td>
<td align="center">57.156677</td>
<td align="center">65.447158</td></tr>
<tr><td align="center">1</td>
<td align="center">None</td>
<td align="center">None</td>
<td align="center">None</td></tr>
<tr><td align="center">213</td>
<td align="center">None</td>
<td align="center">None</td>
<td align="center">None</td></tr>
                </tr>
            </table>
        </body>
    </html>